.benefits {
    padding: 30px 0 15px;

    &__container {
        display: flex;
        justify-content: center;
    }

    &__tabs {
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }

    &__tabs-list {
        display: flex;
        border-bottom: 4px solid rgba(255, 255, 255, 0.3);
        overflow-x: scroll;
        white-space: nowrap;
        padding-bottom: 30px;
    }

    &__tab {
        display: flex;
        margin-right: 30px;

        &:last-child {
            margin-right: 0;
        }

        &.active {
            .benefits__tab-button {
                background: $red-text-gradient-reversed;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
        
        &:hover {
            .benefits__tab-button {
                color: $pink;
                background: none;
                -webkit-background-clip: initial;
                -webkit-text-fill-color: initial;
            }
        }
    }

    &__tab-button {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 38px;
        line-height: 46px;
        padding: 0;
        color: $grey;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    &__tab-panel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 30px;
    }

    &__tab-title {
        font-weight: 700;
        font-size: 30px;
        line-height: 37px;
        color: $white;
        margin-bottom: 30px;
    }

    &__tab-description {
        font-size: 19px;
        line-height: 30px;
        color: $white;
    }

    @media (min-width: 768px) {
        padding: 30px 0 30px;

        &__tabs-list {
            padding-bottom: 60px;
            min-width: 440px;
        }

        &__tab-panel {
            padding-top: 60px;
        }
    }

    @media (min-width: 1024px) {
        &__tabs {
            flex-direction: row;
        }

        &__tabs-list {
            flex-direction: column;
            border-bottom: none;
            border-right: 4px solid rgba(255, 255, 255, 0.3);
            padding: 0 60px 0 0;
        }
    
        &__tab {
            margin: 0 0 30px 0;
            justify-content: flex-end;
        }

        &__tab-panel {
            padding: 0 0 0 60px;
        }
    }

    @media (min-width: 1440px) {
        &__tabs {
            padding: 0 120px;
        }
    }  
}
