.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(../images/background_symbol.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

    &__container {
        display: flex;
        justify-content: center;
    }

    &__body {
        text-align: center;
        font-weight: 700;
        font-size: 38px;
        line-height: 46px;
        color: $white;
    }

    &__scroll-link {
        position: absolute;
        bottom: 30px;

        &:hover {
            .icon > * {
                stroke: $pink;
            }
        }
    }

    @media (min-width: 768px) {
        background-size: cover;
    }

    @media (min-width: 1024px) {
        background-size: contain;
    }
}
